# {{ ansible_managed }}
[Unit]
Description=Minikube single-node Kubernetes cluster
Documentation=https://minikube.sigs.k8s.io/docs/
After=docker.service{% if minikube_driver == 'none' %} cri-docker.service{% endif %} network-online.target
Wants=docker.service{% if minikube_driver == 'none' %} cri-docker.service{% endif %} network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
Group=root
Environment=HOME=/root
Environment=MINIKUBE_HOME=/root/.minikube
Environment=MINIKUBE_IN_STYLE=false
ExecStart={{ minikube_bin }} start {{ minikube_start_flags | trim }}
ExecStop={{ minikube_bin }} stop
TimeoutStartSec={{ minikube_start_timeout }}

[Install]
WantedBy=multi-user.target