# MariaDB
MARIADB_ROOT_PASSWORD=change_me_root_password
MARIADB_DATABASE=magento
MARIADB_USER=magento
MARIADB_PASSWORD=change_me_magento_password

# OpenSearch
OPENSEARCH_INITIAL_ADMIN_PASSWORD=change_me_opensearch_password

# Dragonfly
DRAGONFLY_PASSWORD=change_me_dragonfly_password

# Magento
MAGENTO_DB_PASSWORD=${MARIADB_PASSWORD}
MAGENTO_ADMIN_PASSWORD=change_me_admin_password
